fastapi
uvicorn
pydantic
jinja2
python-multipart
emails  # 用于发送邮件
requests  # 用于 HTTP 请求
beautifulsoup4  # 用于解析 HTML
lxml  # 用于解析 XML sitemap
python-dotenv
pytest 
httpx
apscheduler  # 用于定时任务
redis  # Redis 向量数据库
openai  # OpenAI API
langchain  # 大模型框架
json-repair  # 用于修复损坏的JSON